

<div class="container container-display-product d-flex justify-content-between align-items-stretch">

  <div class="image-secondary d-flex flex-column justify-content-start align-items-stretch">
    <img src="assets/Banner.png" alt="" class="img-secondary-product">
    <img src="assets/Banner.png" alt="" class="img-secondary-product">
    <img src="assets/Banner.png" alt="" class="img-secondary-product">
    <img src="assets/Banner.png" alt="" class="img-secondary-product">
  </div>

  <div class="img-principale  align-self-stretch">
    <img src="assets/Banner.png" alt="" class="img-principale-product">
  </div>

  <div class="product-other d-flex flex-column justify-content-between ">

    <div class="description-content d-flex flex-column justify-content-around">

      <h1 class="self-align-start">Colibri</h1>
      <h2>1750 €</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Egestas pretium aenean pharetra magna. Feugiat nisl pretium fusce id velit ut tortor pretium viverra.
        Nulla facilisi etiam dignissim diam. Sapien nec sagittis aliquam malesuada bibendum arcu.</p>

      <p class="en-stock">4 en stock</p>

      <button class="button btn-add-product" type="submit"><span>Ajouter au panier</span></button>

    </div>

    <div class="other-articles">
      <p><strong>autres articles similaires :</strong></p>

      <div class="image-tierce d-flex horizontal-scroll">
        <img src="assets/Banner.png" alt="" class="horizontal-scroll__item img-secondary-product">
        <img src="assets/Banner.png" alt="" class="horizontal-scroll__item img-secondary-product">
        <img src="assets/Banner.png" alt="" class="horizontal-scroll__item img-secondary-product">
        <img src="assets/Banner.png" alt="" class="horizontal-scroll__item img-secondary-product">
        <img src="assets/Banner.png" alt="" class="horizontal-scroll__item img-secondary-product">
        <img src="assets/Banner.png" alt="" class="horizontal-scroll__item img-secondary-product">
        <img src="assets/Banner.png" alt="" class="horizontal-scroll__item img-secondary-product">
      </div>

    </div>

  </div>
</div>
